.containerSteps {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.stepFirst, .stepSecond, .stepThird {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 4em; 
}

.stepFirst {
  border-bottom: 1px solid gray;  
}

.stepSecond {
  align-self: flex-end;
  border-bottom: 1px solid gray;  
}

.containerImageIntroduction {
  display: flex;
  margin-bottom: 1em;  
}

.containerImage {
  width: 20em;
  height: auto;
  margin-right: 2em;
}

.containerImageSecond{
  width: 30em;
  height: auto;
  margin-right: 2em;
}

.containerImageThird {
  width: 40em;
  height: auto;
  margin-right: 2em;
}

.containerIntroduction {
  display: flex;
  flex-direction: column;  
  justify-content: space-between;      
}

.headerStep {
  font-size: 1.8em;
  font-weight: 500;
  
}

.introductionStep {
  font-size: 1.2em;
}

.descriptionStep {
  font-size: 1.2em;
  width: 40vw;
  display: flex;
  text-align: justify;
  margin: 1em 0;
}