.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstLevel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  background-color: #000000;
}

.containerImageEvolution {
  width: 20%;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.containerImage {
  width: 1.5em;
  height: auto;
}

.containerImageLast {
  width: 3em;
  height: auto;
}

.slogan {
  font-size: 1.3em;
  color: #ffffff;
}