.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  align-items: center;
  background-color: #000000;
}

.slogan {
  font-size: 1.3em;
  color: #ffffff;
}