.container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.container > * {
  margin: 1em .5em;
}

.container > a:hover {
  color: #000000;
}

.buttonFeedback {
  height: 2em;
  padding: .2em;
  color: gray;
  background-color: #ffffff;
  border: .1px solid rgb(216, 216, 216);
  border-radius: .2em;
}

.buttonFeedback:hover {
  color: #000000;
  border: .1px solid #000000;
}

.buttonTests {
  height: 2em;
  font-size: 1.2em;
  padding: .1em;
  background-color: #0076ffe6;
  color: #ffffff;
  border: 1px solid #0076ffe6;
  border-radius: .2em;
}

.buttonTests:hover {
  background-color: #ffffff;
  color:#0076ffe6;
}