.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.container > * {
  margin: 1em 2em;
}

.container > a:hover {
  color: #000000;
}

.buttonTests {
  height: 2em;
  font-size: 1.2em;
  padding: .1em;
  background-color: #0076ffe6;
  color: #ffffff;
  border: 1px solid #0076ffe6;
  border-radius: .2em;
}

.buttonTests:hover {
  background-color: #ffffff;
  color:#0076ffe6;
}