.container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  overflow-y: scroll;
}

.containerLink {
  display: flex;
  flex-direction: column;
}

.containerLink > * {
  margin: 1em;
}

.dot {
  color: gray;
  margin-left: 1em;
  margin-right: .5em;
}
