.main {
  width: 100%; 
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 75%;
  display: flex;
}

.headerSection {
  margin-bottom: 1em;
}

.containerWords {
  display: flex;
  flex-direction: column;
}

.containerWord {
  display: flex;
}

.containerImg {
  border: 1px solid;
}

.checkButton {
  width: 7em;
}

.helpButton {
  width: 7em;
}

.containerHelpWords {
  position: relative;
  width: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: .1em;
}

.shieldHelpWordsClose {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(212, 209, 209, 0.98);
}

.shieldHelpWordsOpen {
  display: none;
}

.containerCorrect {
  width: 7em;
  font-size: 1.5em;
}

  