.main {
  height: 100%;
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .containerGreeting {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
  }

  .EdEnglish {
    font-size: 5em;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .textEdEnglish {
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
    color: gray;
  }

  .teacherLink {
    color: #0076ffe6;
  }

  .containerhowItWorks {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .howItWorks {
    font-size: 2.5em;
    font-weight: 700;
    margin: .5em;
  }

  .textHowItWorks {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2em;
  }

  .containerSteps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .step {
  }

 


